# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdm
*.pdb

# Virtual environment
venv/
env/
ENV/

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
